// colors
$primaryColor: #272727;
$secondaryColor: #ff652f;
$thirdColor: #FFE162;
$fourthColor: #141E27;
$textColor: #eee;


// fonts
$fontFamily: 'Segoe UI', 'Nunito', Tahoma, Genava, Verdana, sans-serif;

//path variables
$main-bgImage-path: "../img/ersen-600-800.jpg";

// margins
$marginBottom : 1rem;