@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link-style a, footer.horizontal a, footer.vertical .social-icons a, footer.middle a {
  padding: 0.4rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.link-style a:hover, footer.horizontal a:hover, footer.vertical .social-icons a:hover, footer.middle a:hover {
  color: #ff652f;
}

footer.horizontal {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1rem;
}

footer.vertical {
  color: #141E27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
}

footer.vertical .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 1rem;
}

footer.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  -webkit-transform: rotate(90deg) translate(-3rem, -5rem);
          transform: rotate(90deg) translate(-3rem, -5rem);
}

footer.middle {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 0;
}

.nav {
  padding: 1rem;
  height: 10vh;
}

.nav__list {
  text-align: right;
}

.nav__item {
  display: inline;
  padding-right: 1rem;
}

.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav__link:hover {
  color: #FFE162;
}

.nav__link--active {
  color: #ff652f;
}

.about-bgImg-container {
  height: 50vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9))), url("../img/ersen-600-800.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9)), url("../img/ersen-600-800.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-bgImg-container .about__bio-image {
  text-align: center;
}

.about-bgImg-container .about__bio-image h2 {
  font-size: 3rem;
  color: #ff652f;
}

.about-bgImg-container .about__bio-image p {
  font-size: 1.2rem;
  margin: 2rem;
  line-height: 25px;
}

.about__container {
  width: 70vw;
  margin: 2rem auto;
}

.about .about__job {
  margin: 1rem;
  background: #414141;
  padding: 1rem;
  border-bottom: 5px solid #ff652f;
}

.about .about__job p {
  line-height: 25px;
}

.about .about__job h2,
.about .about__job h3 {
  margin: 0.5rem 0;
}

.about .about__job h6 {
  margin: 0.3rem 0;
}

.contact-bgImg-container {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9))), url("../img/ersen-600-800.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9)), url("../img/ersen-600-800.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-bgImg-container nav {
  height: 40vh;
}

.contact {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem 2rem;
  font-size: 1.5rem;
}

.contact .text-secondary {
  color: #ff652f;
}

.home-bgImg-container {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9))), url("../img/ersen-600-800.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9)), url("../img/ersen-600-800.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  color: #fff;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home__name {
  color: #fff;
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}

.home__name--last {
  color: #ff652f;
  font-weight: 700;
}

.project-bgImg-container {
  height: 40vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.4)), to(rgba(39, 39, 39, 0.9))), url("../img/ersen-600-800.jpg");
  background: linear-gradient(to right, rgba(39, 39, 39, 0.4), rgba(39, 39, 39, 0.9)), url("../img/ersen-600-800.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-bgImg-container .projects__bio-image {
  margin-bottom: 0.5rem;
  text-align: center;
}

.projects__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 5rem;
  gap: 1rem 0rem;
}

.projects__item {
  width: 100%;
  border-bottom: 5px solid #ff652f;
  cursor: pointer;
  position: relative;
}

.projects__item img {
  width: 100%;
}

.projects__item::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: #ff652f;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects__item:hover::after {
  opacity: 0.7;
}

body {
  font-family: "Segoe UI", "Nunito", Tahoma, Genava, Verdana, sans-serif;
  line-height: 1;
  color: #eee;
  background-color: #FFE162;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #eee;
}

h1,
h2,
h3 {
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */